// Define all the variables here

// Base colors
$primary-color: rgba(38, 208, 170, 100);
$secondary-color: rgba(38, 179, 208, 100);

// Greyscales
$white: rgba(255, 255, 255, 100);
$dark-gray: rgba(162, 162, 162, 100);

// Define the typefaces here
$primary-font: "TeX Gyre Adventor";
$secondary-font: "Viga";
$tertiary-font: "Lato";

// Defining default susy settings for mobile devices
$susy: (
	columns: 12,
	gutters: 30px/10px,
	gutter-position: split,
);


