.swiper-container
	.swiper-wrapper
		.swiper-slide#heartrate-slide
			.swiper-title 
				%h3 Hartslag
		.swiper-slide#steps-slide
			.swiper-title
				%h3 Stappen
	.swiper-pagination
	.swiper-button-next
	.swiper-button-prev
