Hier komt de zorgvrager data

.swiper-container
  .swiper-wrapper
    .swiper-slide#heart-rate-slide Hartslag
    .swiper-slide#steps-data-slide Stappen
  .swiper-pagination
  .swiper-button-next
  .swiper-button-prev
