Hier komt de zorgvrager data

.swiper-container
  .swiper-wrapper
    .swiper-slide#heartrate-slide Hartslag
    .swiper-slide#steps-slide Stappen
  .swiper-pagination
  .swiper-button-next
  .swiper-button-prev
