.main-header.profile
	.profile-stats
		.left-part
			%p
				%span.units 82 
				jaar
		.middle-part
			%p
				%span.units 178
				cm
		.right-part
			%p
				%span.units 85
				kg
	.profile-dropdowns
		.profile-button
			%p Medicatie

		.profile-button
			%p Diagnoses

		.profile-button
			%p Naw-gegevens


verwijder zorgvrager (button)
= link_to "Zorgvrager verwijdren" #waar moet dit heen linken?

