.main-header.profile
	.left-part
		%p
			%span.units 82 
			jaar
	.middle-part
		%p
			%span.units 178
			cm
	.right-part
		%p
			%span.units 85
			kg
	.profile-dropdowns
		.profile-button
			%p Medicatie

		.profile-button
			%p Medicatie

		.profile-button
			%p Medicatie


verwijder zorgvrager (button)
= link_to "Zorgvrager verwijdren" #waar moet dit heen linken?

