@import "globals/all";
@import "susy";
@import "breakpoint";

html {
	min-height: 100%;
}

body{
	font-family: $primary-font;
	background-color: $white;
	@include container(12);
}

.background-shape {
	background: linear-gradient(150deg, #98e4e9, #5fc5cf);
	width: 200%;
	height: 425px;
	position: fixed;
	z-index: -10;
	transform: rotate(18deg);
	left: -20%;
	top: -10%;
}

h1 {
	font-family: $secondary-font;
	font-size: 72px;
	line-height: 0.9;
	letter-spacing: 5.2px;
	color: $white;
	text-transform: uppercase;
	margin-bottom: 10%;
	margin-top: 15%;
}

h2 {
	text-transform: uppercase;
	font-family: $primary-font;
	font-weight: bold;
	font-size: 24px;
	letter-spacing: 1.5px;
	color: #ffffff;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
}

p.name {
	font-weight: bold;
	font-size: 12px;
	font-family: $primary-font
}

p.date {
	font-size: 9px;
}

.left-part {text-align: left;}

.middle-part {text-align: center;}

.right-part {text-align: right;}

nav {
	@include container(12);
	background-image: linear-gradient(125deg, #359db8, #6cd2d7);	color: $white;
	height: 80px;
	line-height: 80px;
	& .left-part {@include span(3);}
	& .middle-part {@include span(6);}
	& .right-part {@include span(3);}
}

main {
	@include span(12);
}

form {
	input {
		width: 100%;
		border-radius: 7px;	
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.04);
		border: solid 2px #5fc5cf;
		padding: 15px 0;
		text-align: center;
		font-size: 18px;
		font-family: $primary-font;
		margin-bottom: 15px;
		&:last-child {
			margin-top: 40px;
		}
	}
	input[type=submit] {
		border: none;
		border-radius: 7px;
		background-image: linear-gradient(136deg, #98e4e9, #5fc5cf);
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
		color: $white;
		text-transform: uppercase;
		padding: 15px 95px;
		font-size: 16px;
		font-weight: bold;
		letter-spacing: 1.2px;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	}
}

.form-box {
	border-radius: 7px;
	background-color: #ffffff;
	box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.06);
	padding: 15px;
	a{
		font-size: 13px;
		letter-spacing: 1px;
		color: $secondary-color;
		text-decoration: none;
		text-align: center;
	}
	&:before {
		content: " ";
    display: block;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    background-color: white;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 210px;
    left: 50px;
    -webkit-border-radius: 0 20px 0 0;
    -moz-border-radius: 0 20px 0 0;
    border-radius: 0 10px 0 0;
    z-index: -1;
	}
}

.main-header {
	border-radius: 7px;
	background-image: linear-gradient(125deg, #359db8, #6cd2d7);  color: $white;
  text-align: center;
  line-height: 50px;
  border: 5px solid white;
  position: relative;
  top: -15px;
}

.fitbit-user-box {
	@include span(6);
	border-radius: 7px;
	background: linear-gradient(122deg, #5becd9, #2ed5b2);
	color: $white;
	text-align: center;
	margin-bottom: 15px;
	padding-bottom: 10px;
}


.fitbit-users-list {
	@include container(12);
}

