%h2 Zorgvrager overzicht
.example
	= link_to "sync. datum"
.example
	= link_to "a-z"

.example
	hier komen alle zorgvragers/patienten te staan

.example
	= link_to "Zorgvrager toevoegen", fitbit_api_add_care_user_path, class: ""

