%h2 Instellingen
.example
	Account
.example
	Notificaties
.example
	Support/FAQ
.example
	Over TinyCare

.example
	= link_to 'Uitloggen', destroy_fitbit_user_session_path, class: "", data: { confirm: 'Weet u zeker dat u wilt uiloggen?' }, method: :delete

